<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/subs/12-angry-men/12-angry-men.srt">srt</a>
    <a href="/stylesheets/style.css">style</a>
  </body>
</html>
